.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    display: visible;
    z-index: 1000;
    background-color: rgba(230, 230, 230, 0.7);
    border-radius: 10px;
}

.modal *{
    justify-content: center;
    align-items: center;
    text-align: center;

}

.mainPage{
    filter: blur(5px); /* Blur the page content */
}

/* Set the page to use a flexbox layout */
.rowsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vw;
}

.mainCol, .chatCol {
    display: flex;
    flex-direction: column;
}

.mainCol {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCol * {
    text-align: center;
    margin: 0 auto;
    text-align: center;
}

#playerList {
    height: 100%;
    width: 200px;
}

#playerList .playerDiv{
    border: solid #444;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#playerList .playerDiv .playerName{
    font-weight: bold;
}
#playerList .playerDiv .playerPoints{
    font-weight: bold;
    float: right;
}
#playerList .playerDiv .playerMessage{
    width: 100%;
    display: block;
}

#roundAnswerP, #promptUsedP, #roundWinnerP{
    display: none;
}

.centerImage {
    display: block;
    margin: 0 auto;
}

#imageToFind{
    height: 20vw;
}

#imageToFind.success{
    border: greenyellow 5px solid;
}

.inputContainer {
    margin-top: 20px;
}

.inputContainer input {
    display: block;
    margin: 0 auto;
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.namesList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    text-align: right;
}

/* Use a material design font and color for the names */
.namesList li {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    color: #3f51b5;
}

/* Use media queries to make the page responsive */
@media (max-width: 600px) {

    /* Stack the image, input text, and names list vertically on small screens */
    .pageWrapper {
        flex-direction: column;
        align-items: center;
    }

    /* Adjust the width of the input text and names list on small screens */
    .centerInput, .namesList {
        width: 100%;
    }
}